<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/generate_password.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- <script src="/scripts/generate_password.js"></script> -->
      <%- include('partials/_header') %>
  </head>
  <body>
    <main>
      <!-- temporary action/method -->
      <form class="form-inline" id="passwordGeneratorForm" action="/accounts/new" method="POST">
        <div class="password_container">
          <h1 class="title">Password Generator</h1>
        <div class="form-group mb-2">
          <span class="span-labels">
            <div class="div-cat">
            <label class="category-p" for="Categories" >CATEGORY</label>
            <select class="cate" name="category" id="category" required>
              <option value="" disabled selected >Select Category</option>
              <option value="Entertainment">Entertainment</option>
              <option value="Social">Social</option>
              <option value="Work Related">Work Related</option>
              <option value="Payments">Payments</option>
              <option value="Misc">Misc</option>
            </select>
          </div>
          <div>
            <label class="username" for="username">USERNAME</label>
            <input
              class="form-control"
              type="text"
              name="Username"
              placeholder="username"
          </div>
          <div>
            <label for="url">URL/WEBSITE</label>
              <input
              class="form-control"
              type="text"
              name="url"
              id="url"
              placeholder="http://"/>
          </div>
          <div>
            <label class="created_at" for="created_at">Date</label>
            <input
              class="form-control"
              type="text"
              name="created_at"
              placeholder="DD/MM/YYYY"
              id="created_at"/>
          </div>
        </span>
          <!-- generate Password-->

    <div class="password_validate">
      <div class="password-display" id="passwordDisplay"></div>
      <label for="characterAmountNumber">Password Length</label>
      <div class= "slider">
        <input class="slide" type="range" min="6" max="42" value="24" id="characterAmountRange">
        <input class="number-input" type="number" min="6" max="42" value="24" id="characterAmountNumber">
      </div>
      <div class="character-amount-container">
      <div class="setting">
        <label for="includeLowercase">Include Lowercase</label>
        <input type="checkbox" id="includeLowercase">
      </div>
      <div class="setting">
        <label for="includeUppercase">Include Uppercase</label>
        <input type="checkbox" id="includeUppercase">
        </div>
        <div class="setting">
        <label for="includeNumbers">Include Numbers</label>
        <input type="checkbox" id="includeNumbers">
        </div>
        <div class="setting">
        <label for="includeSymbols">Include Symbols</label>
        <input type="checkbox" id="includeSymbols">
        </div>
      </div>
   </div>
    <span class ="gen">
          <button type="submit" class="btn generate-pass" id="generate_password">Generate Password</button>
          <button type="submit" class="btn btn-database" id="save"  href="/users/accounts/"> Save</button>
        </span>
        </div>
      </form>
    </main>
  </body>
</html>
