<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/generate_password.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>


    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- <script src="/scripts/generate_password.js"></script> -->
      <%- include('partials/_header') %>
  </head>
  <body>

    <main style="margin: 1em">
      <!-- temporary action/method -->
      <form class="form-inline" id="passwordGeneratorForm" action="/accounts/new" method="POST">
        <div class="password_container">
          <h1 class="title">Password Generator</h1>
        <div class="form-group mb-2">
            <label for="Categories">Category:</label>
            <select name="category" id="category" >
              <option value="">Entertainment</option>
              <option value="Social">Social</option>
              <option value="Work Related">Work Related</option>
              <option value="Payments">Payments</option>
              <option value="Misc">Misc</option>
            </select>
            <br><br>
          <div>
            <label for="username">username:</label>
            <input
              class="form-control"
              type="text"
              name="username"
              placeholder="username"
              id="username"
              style="width: 300px; margin: 1em"/>
          </div>
          <div>
            <label for="url">url/website:</label>
              <input
              class="form-control"
              type="text"
              name="url"
              id="url"
              placeholder="http://"
              style="width: 300px; margin: 1em"/>
          </div>

          <!-- generate Password-->

    <div class="password_validate">
      <div class="password-display" id="passwordDisplay"></div>
      <label for="characterAmountNumber">Password Length</label>
      <input type="range" min="1" max="50" value="10" id="characterAmountRange">
      <input class="number-input" type="number" min="1" max="50" value="10" id="characterAmountNumber">
      <div class="character-amount-container">
      <div class="setting">
        <label for="includeLowercase">Include Lowerercase</label>
        <input type="checkbox" id="includeLowercase">
      </div>
      <div class="setting">
        <label for="includeUppercase">Include Uppercase</label>
        <input type="checkbox" id="includeUppercase">
        </div>
        <div class="setting">
        <label for="includeNumbers">Include Numbers</label>
        <input type="checkbox" id="includeNumbers">
        </div>
        <div class="setting">
        <label for="includeSymbols">Include Symbols</label>
        <input type="checkbox" id="includeSymbols">
        </div>
      </div>
  </div>
  <button type="submit" class="btn" id="generate_password">Generate Password</button>
  <button type="submit" class="btn btn-database" id="save"> Save</button>
        </div>
      </form>
    </main>
  </body>
</html>
