<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR</title>
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="/">🔒PasswordKeepR•••</a>
        <p>How It Works</p>
        <p>Pricing</p>
        <p>Business</p>
        <p>Resources</p>
        <p class="login">Log In</p>
        <button type="submit" class="floating-btn logout">TRY PasswordKeepR</button>
        </div>
      </nav>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <header class="header">

    </header>
  <body>
    <h1>HOMEPAGE</h1>

    <h3>Share your organizations passwords seemlessly and securely</h3>
    <h5>Protect every access point while seamlessly connecting employees to their work.</h5>
    <button type="button" class="collapsible">Learn More</button>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div>
      <img class="trusted" src="https://www.thesslstore.com/content/images/icon-trusted-brand-img.png" width="360 height="145>
    </div>

      <!-- TEST -->
      <div class="dropup">
        <button class="dropbtn">🌐</button>
        <div class="dropup-content">
          <a href="#">French</a>
          <a href="#">English</a>
        </div>
      </div>
  </body>
  <script>
    let coll = document.getElementsByClassName("collapsible");
    let i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>
</html>
