nav {
  font-family: "Russo One", sans-serif;
  background-color: #d32d27;
  justify-content: space-between;
  display: flex;
  height: 50px;
  color: #ffffff;

  width: 100%;
}

body {
  min-height: 200%;
}
.back {
  background-color: #703836;
  background-image: url("https://www.transparenttextures.com/patterns/tex2res4.png");
}

.img-div{
  display: flex;
  flex-direction: column;
}

.trusted{
  padding-left: 150px
}

// img.trusted {
//   margin: 10em;
// }

.last-text {
  font-family: "Russo One", sans-serif;
}

.navbar-links {
  justify-content: flex-end;
  flex: 1;
  display: flex;
}

.page-h1 {
  margin-top: 2em;
  font-family: "Russo One", sans-serif;
  margin-left: 400px;
}

.share {
  margin-top: 2em;
  font-family: "Russo One", sans-serif;
  margin-left: 500px;
}

.protect {
  margin-top: 2em;
  font-family: "Russo One", sans-serif;
  margin-left: 520px;
}

a {
  margin-right: 1em;
  // background-color: white;
  text-decoration: none;
  padding: 0.5em;
}

form {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .hover{
    color: yellow;
  }

}

.real {
  color: black;
  font-family: "Russo One", sans-serif;
}

.login {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 1em;
}

//!--------------

a {
  text-decoration: none;
  color: #fff;
}
/**** ****/
div#nav {
  position: relative;
}
div#nav a {
  padding: 5px 15px 5px;
}
.dropdown-toggle {
  padding: 0;
  // background: #777;
}
/**** ****/
ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 2px;
  padding: 7px 20px 0 0;
  background: #777;
}
ul.dropdown li {
  list-style-type: none;
}
ul.dropdown li a {
  text-decoration: none;
  padding: 0em 1em;
  display: block;
}

//!--------------


.collapsible {
  // background-color: #777;
  // color: white;
  // cursor: pointer;
  // padding: 18px;
  // width: 100%;
  // border: none;
  // text-align: left;
  // outline: none;
  // font-size: 15px;
  grid-column: span 2;
  background-color: #001f61;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  align-self: center;
  width: 50vw;
  margin-left: 400px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.trusted {
  align-self: center;
}

.content {
  padding: 0 18px;
  display: none;
  width: 100%;
  overflow: auto;
  background-color: #f1f1f1;
  align-items: center;
  align-content: flex-start;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.threat {
  color: black;
  p:hover: black;

}
.navbar-brand {
  font-family: "Russo One", sans-serif;

  text-decoration: none;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
}

button.logout {
  margin: 0 0.5em 0 0;
}

h2 {
  flex-direction: space-between;
}

body {
  // margin-top: 10em;
  align-items: center;
  color: black;
  background-color: #ffffff;
}

table {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

thead {
  margin: 5 em;
  flex-direction: center;
  justify-content: space-between;
  justify-items: center;
}

div.slidecontainer {
  display: flex;
  flex-direction: row;
}

input.slider {
  margin: 0 0 0 1 em;
}

.g-buttons {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
:hover.floating-btn {
  color: red;
}

.dropbtn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  font-size: 8px;
  line-height: 10px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 20;
}
:hover.dropbtn {
  color: red;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 20px;
  bottom: -15px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ccc;
}

.dropup:hover .dropup-content {
  display: block;
}

//!------------------------------------------------------MINE ^^^^^^^^

// nav {
//   font-family: "Russo One", sans-serif;
//   background-color: #258b7a;
//   justify-content: space-between;
//   display: flex;
//   height: 50px;
//   color: #ffffff;

//   width: 100%;
// }

// .navbar-links {
//   justify-content: flex-end;
//   flex: 1;
//   display: flex;
// }

// a {
//   margin-right: 1em;
//   // background-color: white;
//   text-decoration: none;
//   padding: 0.5em;
// }

// form {
//   display: flex;
//   align-items: center;
// }

// .container {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   align-items: center;
//   width: 100%;
// }

// .login {
//   padding-right: 6px;
//   font-size: 22px;
// }

// p:hover {
//   color: yellow;
// }

// .collapsible {
//   background-color: #777;
//   color: white;
//   cursor: pointer;
//   padding: 18px;
//   width: 354px;
//   border: none;
//   text-align: left;
//   outline: none;
//   font-size: 15px;
// }

// .active,
// .collapsible:hover {
//   background-color: #555;
// }

// .trusted {
//   align-self: center;
// }

// .content {
//   padding: 0 18px;
//   display: none;
//   width: 30%;
//   overflow: auto;
//   background-color: #f1f1f1;
// }

// .navbar-brand {
//   font-family: "Russo One", sans-serif;

//   text-decoration: none;
//   align-items: center;
//   color: #ffffff;
//   font-size: 30px;
// }

// button.logout {
//   margin: 0 0.5em 0 0;
// }

// h2 {
//   flex-direction: space-between;
// }

// body {
//   // margin-top: 10em;
//   align-items: center;
//   color: black;
//   background-color: #ffffff;
// }

// table {
//   display: flex;
//   flex-direction: column;
//   justify-items: space-between;
// }

// thead {
//   margin: 5 em;
//   flex-direction: center;
//   justify-content: space-between;
//   justify-items: center;
// }

// div.slidecontainer {
//   display: flex;
//   flex-direction: row;
// }

// input.slider {
//   margin: 0 0 0 1 em;
// }

// .g-buttons {
//   display: flex;
//   flex-direction: column;
//   font-size: 40px;
// }

// .floating-btn {
//   border-radius: 26.5px;
//   background-color: #001f61;
//   border: 1px solid #001f61;
//   box-shadow: 0 16px 22px -17px #03153b;
//   color: #fff;
//   cursor: pointer;
//   font-size: 16px;
//   line-height: 20px;
//   padding: 12px 20px;
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   z-index: 999;
// }
// :hover.floating-btn {
//   color: red;
// }

// .dropbtn {
//   border-radius: 26.5px;
//   background-color: #001f61;
//   border: 1px solid #001f61;
//   box-shadow: 0 16px 22px -17px #03153b;
//   color: #fff;
//   cursor: pointer;
//   font-family: "Russo One", sans-serif;
//   font-size: 8px;
//   line-height: 10px;
//   padding: 12px 20px;
//   position: fixed;
//   bottom: 20px;
//   left: 10px;
//   z-index: 20;
// }
// :hover.dropbtn {
//   color: red;
// }

// .dropup {
//   position: relative;
//   display: inline-block;
// }

// .dropup-content {
//   display: none;
//   position: relative;
//   background-color: #f1f1f1;
//   min-width: 20px;
//   bottom: -15px;
//   z-index: 1;
// }

// .dropup-content a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

// .dropup-content a:hover {
//   background-color: #ccc;
// }

// .dropup:hover .dropup-content {
//   display: block;
// }
