nav {
  font-family: "Russo One", sans-serif;
  background-color: #ce5454;
  justify-content: space-between;
  display: flex;
  height: 50px;
  color: #ffffff;
  // position: fixed;
  width: 100%;
  // top: 0;
}

.navbar-links {
  justify-content: flex-end;
  flex: 1;
  display: flex;
  a {
    margin-right: 1em;
    background-color: white;
    text-decoration: none;
    padding: 0.5em;
  }
  form {
    display: flex;
    align-items: center;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.login {
  padding-right: 6px;
  font-size: 22px;
}

p:hover {
  color: yellow;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 354px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.trusted {
  // display: flex;
  // flex-direction: row;
  align-self: center;
}

.content {
  padding: 0 18px;
  display: none;
  width: 30%;
  overflow: auto;
  background-color: #f1f1f1;
}

.navbar-brand {
  font-family: "Russo One", sans-serif;
  // margin: 3em 3em 3em 3em;
  text-decoration: none;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
}

button.logout {
  margin: 0 0.5em 0 0;
}

h2 {
  flex-direction: space-between;
}

body {
  // display: flex;
  // flex-direction: column;
  justify-content: space-between;
  margin-top: 10em;
  align-items: center;
  color: black;
  background-color: #ffffff;
}

table {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

// NOT WORKING
thead {
  margin: 5 em;
  flex-direction: center;
  justify-content: space-between;
  justify-items: center;
  // display: center;
}

// .fas fa-lock {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }

div.slidecontainer {
  display: flex;
  flex-direction: row;
}

input.slider {
  margin: 0 0 0 1 em;
}

.g-buttons {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
:hover.floating-btn {
  color: red;
}

//TEST
// .navbar {
//   overflow: hidden;
//   background-color: #333;
// }

// .navbar a {
//   float: left;
//   font-size: 16px;
//   color: white;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
// }

// .dropdown {
//   float: left;
//   overflow: hidden;
// }

// .dropdown .dropbtn {
//   font-size: 16px;
//   border: none;
//   outline: none;
//   color: white;
//   padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit;
//   margin: 0;
// }

// .navbar a:hover,
// .dropdown:hover .dropbtn {
//   background-color: red;
// }

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 1;
// }

// .dropdown-content a {
//   float: none;
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
//   text-align: left;
// }

// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// .dropdown:hover .dropdown-content {
//   display: block;
// }

// dropbtn {
//   background-color: #3498db;
//   color: white;
//   padding: 16px;
//   font-size: 16px;
//   border: none;
// }

.dropbtn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  font-size: 8px;
  line-height: 10px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 20;
}
:hover.dropbtn {
  color: red;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 20px;
  bottom: -15px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ccc;
}

.dropup:hover .dropup-content {
  display: block;
}

// .dropup:hover .dropbtn {
//   background-color: #2980b9;
// }
